<h1>Todo Items</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th class="text-end">
        <LinkTo data-test-add @route="s.todo-items.add" class="btn btn-primary">Add Todo Item</LinkTo>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |todoItem|}}
    <tr data-test-item={{todoItem.id}}>
      <td data-test-description colspan="2">{{todoItem.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>