<form {{on "submit" (fn this.save @todoItem)}}>
  <label for="description">Description</label>
  <Input id="description" placeholder="description" @value={{@todoItem.description}} />
  <br />
  {{#if @todoItem.validations.isValid}}
    <button type="submit">Add</button>
  {{else}}
    <button type="submit" disabled>Add</button>
  {{/if}}
</form>
