<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            Todo List Client
        </a>
        <div class="d-flex">
            <a href="#" {{on "click" @invalidateSession}} class="btn btn-outline-primary">Logout</a>
        </div>
    </div>
</nav>