<main class="form-signin text-center">
  <form {{on 'submit' this.authenticate }}>
    <img class="mb-4" src="assets/images/logo.png" alt="" role="presentation" width="108" height="108">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <Input data-test-username id="identification" @type="text" class="form-control" placeholder="Enter Login"
        @value={{this.identification}} autocomplete="username" />
      <label for="identification">Login</label>
    </div>
    <div class="form-floating mb-3">
      <Input data-test-password id="password" @type="password" class="form-control" placeholder="Enter Password" @value={{this.password}}
        autocomplete="current-password" />
      <label for="password">Password</label>
    </div>
    <button data-test-submit type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
  </form>
</main>